---
---
@import url('{{ site.baseurl }}/icons/webfont.css');
@import url('{{ site.baseurl }}/fonts/fonts.css');

@mixin vertical-gradient($prop, $top, $bottom) {
	#{$prop}: -webkit-linear-gradient(90deg, $bottom, $top);
	#{$prop}: -moz-linear-gradient(90deg, $bottom, $top);
	#{$prop}: linear-gradient(0deg, $bottom, $top);
}
@mixin horizontal-gradient($prop, $left, $right) {
	#{$prop}: -webkit-linear-gradient(0deg, $left, $right);
	#{$prop}: -moz-linear-gradient(0deg, $left, $right);
	#{$prop}: linear-gradient(90deg, $left, $right);
}

/* Theme */
h1 { color: #00005f; }
h2, h4, h6 { color: #7f7faf; border-color: rgba(127, 127, 159, 0.5); }
h3, h5 { color: #9f7fef; }
html { color: #000000; background: #7fbfff; }
body { color: #000000; background: #ffffff; }
a:link { color: #0000cf; }
a:visited { color: #7f007f; }
a:hover { color: #007fff; }
a:active { color: #ff9f00; }
@media only screen {
	body::before {
		display: block;
		content: "";
		position: fixed;
		top: 0px; bottom: 0px; left: 0px; right: 0px;
		z-index: -1;
		background-image: url('{{ site.baseurl }}/img/clouds.svg');
		background-size: 100% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	body {
		box-shadow: 0em 0em 2em 0em rgba(255, 255, 255, 0.5);
		background-color: rgba(255, 255, 255, 0.8);
	}
	header {
		background: #ffffef;
		@include vertical-gradient(background, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	}
	/* header h1 { color: #000000; } */
}

/* Font settings */
body { line-height: 1.5; }
body { font-family: 'Linux Biolinum', Arial, sans-serif, sans; }
h1, h2, h3, h4, h5, h6 { font-family: Essays1743, serif; line-height: 1.2; margin-bottom: 0.5em; }
h1, h2 { font-weight: normal; }
h3, h4, h5, h6 { font-weight: bold; }

/* Elements */
h1 {
	margin-top: 0em;
	font-size: 120%;
	&:first-line { font-size: 120%; }
	@media only screen and (min-width: 28em) {
		font-size: 150%;
	}
}
h2 { border-width: 0px 0px 1px; border-style: solid; }
p { margin: 1em 0em; }
ul { padding-left: 2em; }
li { margin-bottom: 0.5em; }
dt { font-weight: bold; margin-left: 1em; margin-top: 0.5em; }
dd { margin-left: 2em; }
img { border: none; display: inline-block; vertical-align: middle; }
.icon {
	display: inline-block; vertical-align: middle;
	width: 1em; height: 1em; line-height: 1em;
}
a.icon {
	text-decoration: none;
}

/* Page dimensions */
html { margin: 0em; padding: 0em; }
body { margin: 0em auto; padding: 1em; }
@media only screen {
	html { height: 100%; }
	body {
		position: relative;
		max-width: 50em; min-height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header { margin: -1em -1em 0.7em; padding: 1em; }
	header h1 { line-height: 1.0; margin: 0em; }
}

/* Blog-specific elements */
.post-metadata {
	margin-left: 2em;
	font-size: 90%;
	color: rgba(0, 0, 0, 0.5);
}
.siblings {
	font-size: 90%;
	margin: 1.5em 0em;
	clear: both;
	&:after { content: ""; display: block; clear: both; }
	a.newer {
		float: left;
		&:before { content: "\00ab"; }
	}
	a.older {
		float: right;
		&:after { content: "\00bb"; }
	}
	a.newer:before, a.older:after {
		font-family: NutIcons, sans;
		display: inline-block; vertical-align: middle; text-decoration: none;
		width: 1em; height: 1em; line-height: 1em;
	}
	/* Protruding "Older" and "Newer" links. */
	@media only screen and (min-width: 56em) {
		a.newer, a.older {
			height: 1em; line-height: 1;
			padding: 0.25em 0em;
			background: #ffffff;
			background: rgba(255, 255, 255, 0.5);
			@include horizontal-gradient(background, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
			background-size: 1em 1.5em;
			background-repeat: no-repeat;
		}
		a.newer:before, a.older:after {
			font-size: 200%;
			position: relative;
			margin-top: -0.5em; margin-bottom: -0.5em;
			opacity: 0; color: #ffffff;
			text-shadow: 0em 0.05em 0.6em rgba(207, 207, 255, 1);
			transition: left 0s 0.5s, opacity 0.5s;
		}
		a.newer:hover:before, a.older:hover:after {
			opacity: 1;
			transition: left 0.5s, opacity 0.5s;
		}
		a.newer {
			margin-left: -2em;
			background-position: left;
			border-radius: 0.4em 0em 0em 0.4em / 0.75em 0em 0em 0.75em;
		}
		a.older {
			margin-right: -2em;
			background-position: right;
			border-radius: 0em 0.4em 0.4em 0em / 0em 0.75em 0.75em 0em;
		}
		a.newer:before { left: 0em; margin-right: -0.75em; }
		a.newer:hover:before { left: -1em; }
		a.older:after { left: 0em; margin-left: -0.75em; }
		a.older:hover:after { left: 1em; }
	}
}
article {
	clear: both;
}
.iconlinks {
	float: right;
	a {
		font-size: 150%;
		padding: 0.25em;
		opacity: 0.5;
		transition: color 0.2s;
	}
}
#homelink {
	display: block; float: left;
	padding: 1em; margin-top: -1em; margin-left: -1em;
	@media only screen and (min-width: 56em) {
		margin-left: -4em;
	}
}
#homelink img {
	width: 4em; height: 4em;
	border-radius: 50%;
	box-shadow: 0em 0em 2em 0em rgba(255, 255, 255, 0.5);
	transition: box-shadow 0.5s;
}
#homelink:hover img {
	box-shadow: 0em 0em 4em 0em rgba(255, 255, 255, 0.8);
}
footer {
	text-align: center;
	opacity: 0.7;
}
@media only screen {
	body {
		overflow: auto;
	}
	footer {
		position: absolute;
		bottom: -1em; left: 0em; right: 0em;
		padding: 0em 1em;
	}
}

/* Syntax highlighting */
@import "syntax-highlighting";
.highlight {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
	padding: 0.5em 1em;
	box-shadow: inset 0em 0.1em 0.5em -0.1em rgba(0, 0, 31, 0.15);
	margin: 1em 0em;
	> pre { margin: 0em; }
	.lineno { color: #bfbfbf; }
}
