---
layout: html
tags: [math, history]
mathjax: On
---

{% capture extraheader %}
Andrew Geng's blog.
{% endcapture %}

{% include header.html extra=extraheader %}

Tags: {% include taglist.html %}

{% comment %}
	Liquid 3.0.0 will allow the output HTML to be slightly prettier.
	See: https://github.com/Shopify/liquid/pull/324
{% endcomment %}

{% if site.posts == empty %}
(No entries yet.)
{% else %}
<h2><a class="disguised" href="{{ site.baseurl }}{{ site.posts[0].url }}">Newest: {{ site.posts[0].title }}</a></h2>
{% if site.posts[0].thumbnail %}
<a class="post-thumbnail" href="{{ site.baseurl }}{{ site.posts[0].url }}"><img src="{{ site.baseurl }}{{ site.posts[0].thumbnail }}" alt="Post thumbnail" /></a>
{% endif %}
{{ site.posts[0].excerpt | replace: '<h2', '<h3' | replace: '/h2>', '/h3>' }}
<p><a href="{{ site.baseurl }}{{ site.posts[0].url }}">Read more&hellip;</a></p>
{% endif %}

{% if site.posts.size > 1 %}
<h2>Other recent posts</h2>
<ul class="post-list">
{% for post in site.posts limit:3 offset:1 %}
	{% include post_li.html post=post %}
{% endfor %}
{% if site.posts.size > 4 %}
<li><a href="{{ site.baseurl }}/archive.html">More posts&hellip;</a></li>
{% endif %}
</ul>
{% endif %}

{% include footer.html %}
