---
layout: html
---

{% capture extraheader %}
<div id="post-metadata" class="post-metadata">
	Posted {{ page.date | date: "%A, %Y %B %d" }}
	by {{ page.author }}
	in {% include taglist.html %}
</div>
{% endcapture %}

{% include header.html extra=extraheader %}

<article>
{{ content }}
</article>

{% include prevnext.html %}

{% if page.googlepost %}
<div class="gplusembedded">
<div class="g-post" data-href="https://plus.google.com/{{ page.googlepost }}">
	<div class="gplusreplaced">Comments failed to load? <a href="https://plus.google.com/{{ page.googlepost }}">View the thread on Google+</a>.</div>
</div>
</div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endif %}
